/*=================================================================
  Variables
=================================================================*/
:root {
  --base: #24273a;
  --mantle: #1e2030;
  --surface-0: #363a4f;
  --surface-1: #494d64;
  --text: #cad3f5;
  --sub: #a5adcb;
  --mauve: #c6a0f6;
  --blue: #8aadf4;
  --green: #a6da95;
}

@font-face {
  font-family: Satoshi;
  src: url(asset/font/Satoshi/Satoshi-Variable.ttf);
  font-family: Satoshi-italic;
  src: url(asset/font/Satoshi/Satoshi-VariableItalic.ttf);
  font-family: Tanker;
  src: url(asset/font/Tanker/Tanker-Regular.otf);
}

/*=================================================================
  Style
=================================================================*/

body {
  background-color: var(--base);
}

.navbar h2 {
  color: var(--green);
  font-family: Tanker;
  font-size: 30px;
}
